body {
    background: linear-gradient(to right, #090314, #1c0340, #1e0046);
    font-family: monospace;
  }
  
  .form-box {
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(6px);
    border-radius: 20px;
  }
  
  .upload-box {
    border: 2px dashed #6c757d;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    transition: border-color 0.3s;
  }
  
  .upload-box:hover {
    border-color: #fd7e14;
  }
  
  .form-control {
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid #6c757d;
    color: #fff;
  }
  
  .form-control:focus {
    background-color: rgba(255, 255, 255, 0.09);
    border-color: #fd7e14;
    box-shadow: none;
    color: #fff;
  }
  
  .btn-orange {
    background: linear-gradient(to right, #fd7e14, #ff5e57);
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .btn-orange:hover {
    opacity: 0.9;
  }
  